<div class="flex justify-center items-center flex-col">
    <div>
        <img *ngIf="_avatarUrl" [src]="_avatarUrl" alt="Avatar" class="avatar image" />
    </div>
    <div *ngIf="!_avatarUrl" class="avatar no-image"></div>
    <div class="upload">
        <label for="single">
            {{ uploading ? 'Uploading ...' : 'Upload' }}
        </label>
        <input style="visibility: hidden;position: absolute" type="file" id="single" accept="image/*"
            (change)="uploadAvatar($event)" [disabled]="uploading" />
    </div>
</div>